*{
    margin:0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #F0F8FF;
   }

   nav{
    text-align: center;
    background-color: #ffd9e0;
    letter-spacing: 0.2em;
    padding:10px ;
    border-bottom: 1px solid #6B001D ;
   }

li{
    display: inline-block ;
    margin: 40px ;
    
}

h1{
    color: #6B001D;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5%;

}

h3{
    color: #9E002A;
    text-align: center;
    margin: 5% 5%;
}

table {
    width: 80%;
    margin: 5% 10%;
}

thead {
    background-color: #ffd9e0 ;
    text-transform: lowercase;
    letter-spacing: 0.4em;
    
}

.all tr:nth-child(even){
    background-color: rgb(235, 235, 235) ;
}

.all tr:hover{
    background-color:#f5d8d5;
}

th{
    padding-left: 10px;
    padding-right: 10px;
}

td{
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}

footer{
    text-align: center;
    background-color: #efdede;
    letter-spacing: 0.2em;
    padding:30px ;
    border-top: 1px solid #6B001D ;

}

footer a{
    color: #e7537a;
    text-decoration: none;
}

#resume{
    padding: 1em;
    margin:10px;
    border-radius: 50%;
    border: 1px solid pink;
}

#resume:hover{
    padding: 0.5em;
    margin:10px;
    border-radius: 40%;
    border: 1px solid rgb(201, 107, 123);
}

a{
    color:#e7537a;
    text-decoration: none;
}